.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 400px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
	display: flex;
	flex-direction: column;
	margin: 10px 0;
	width: 100%;
  }
  
  label {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 5px;
  }
  
  input {
	font-size: 1.2rem;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #f2f2f2;
	color: #333;
	width: 100%;
  }
  
  button[type="submit"] {
	background-color: #0077cc;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	font-size: 1.2rem;
	margin-top: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
  }
  
  button[type="submit"]:hover {
	background-color: #005fa3;
  }
  
  .forgot-password {
	text-align: center;
	margin-top: 10px;
  }
  
  .forgot-password a {
	color: #0077cc;
	text-decoration: none;
	font-size: 1.1rem;
  }
  
  .register {
	margin-top: 20px;
	text-align: center;
  }
  
  .register span {
	font-size: 1.2rem;
  }
  
  .register a {
	color: #0077cc;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 600;
	margin-left: 5px;
	transition: all 0.3s ease;
  }
  
  .register a:hover {
	color: #005fa3;
  }
  