.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.basic-info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 16px;
  margin-bottom: 16px;
  width: 100%;
  max-width: 600px;
  background-color: #f8f8f8;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.basic-info-card h3 {
  margin-top: 0;
}

.basic-info-card label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.basic-info-card input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  margin-top: 8px;
}

.scenario-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 16px;
  margin-bottom: 16px;
  width: 100%;
  max-width: 600px;
  background-color: #f8f8f8;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.scenario-box h3 {
  margin-top: 0;
}

.scenario-box textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  margin-top: 8px;
  height: 150px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 16px;
  margin-bottom: 16px;
  width: 100%;
  max-width: 600px;
  background-color: #f8f8f8;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.image-upload img {
  max-width: 100%;
  margin-top: 8px;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.custom-file-upload:hover {
  background-color: #ddd;
}

.order-btn {
  background-color: #f1356d;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 600px;
  transition: background-color 0.2s ease-in-out;
}

.order-btn:hover {
  background-color: #7a72bd;
}
