.img1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.hero-container .img3 {
  justify-self: center;
}

.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}
.img2 {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.new-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.new-container p1 {
  color: #111827;
  font-size: 32px;
  font-weight: bold;
  /* margin-bottom: 16px; */
}

.new-container p2 {
  color: #111827;
  font-size: 32px;
  font-weight: bold;
  /* margin-bottom: 16px; */
}

.new-container p3 {
  color: #f1356d;
  font-size: 16px;
  font-weight: bold;
  /* margin-bottom: 32px; */
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > p1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
    .img2 {
    margin-top: 16px;
  }

  .new-container p1 {
    font-size: 20px;
  }

  .new-container p2 {
    font-size: 20px;
  }

  .new-container p3 {
    font-size: 14px;
  }
}
