@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #7a72bd;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #fff;
}

.navbar h1 {
  color: #7a72bd;
}

.navbar .links {
  margin-left: auto;
  margin-right: 30px;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.logo {
  width: 30px;
  height: 30px;
}
.navbar a:hover {
  color: #f57e9a;
}

.content {
  max-width: 100%;
  margin: 80px auto 40px;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 10px;
  }
  
  .navbar h1 {
    font-size: 20px;
  }
  
  .navbar .links {
    margin-right: 10px;
  }
  
  .navbar a {
    margin-left: 10px;
    font-size: 14px;
    padding: 4px;
  }
  
  .content {
    margin: 60px auto 20px;
    padding: 10px;
  }
}
