.mainTab {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
  }
  
  .mainTab a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 1rem;
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	border-radius: 8px;
  }
  
  .mainTab a:hover {
	opacity: 0.8;
  }
  
  .mainTab a:first-child {
	background-color: #f1356d;
  }
  
  .mainTab a:last-child {
	background-color: #7a72bd;
  }
  